<hr>
<h1>Welcome to the Serverless Blog</h1>
<hr>
<h2>Purpose</h2>
<p>I built this blog as a way to compile my Harvard projects and research in one place. While this is still a work in progress, the backend configuration featuring a serverless architecture is set-up. Over the next few weeks I hope to add more features.</p>
<h2>Architecture</h2>
<ul>
    <li>GraphQL - Data</li>
    <li>AWS Amplify - Deployment</li>
    <li>AWS Cognito - Authentication</li>
    <li>AWS SES - Email Verification</li>
    <li>AWS AppSync - Data and Realtime Updates</li>
    <li>AWS CloudFront - Distribution</li>
    <li>AWS S3 - Hosting</li>
    <li>Angular - Frontend</li>
</ul>